<mat-tab-group animationDuration="0ms" [selectedIndex]="selectedIndex"
        (selectedIndexChange)="informIndexChange($event)">
        <mat-tab label="Pomodoro">
                <app-pet-image petType="pomodoro" />
                <app-timerdisplay name="pomodoro" [timerIndex]="this.selectedIndex"
                        (remainingTime)="handleRemainingTime($event)" [duration]="this.pomodoro" /></mat-tab>
        <mat-tab label="Short Break"> <app-pet-image petType="short" /><app-timerdisplay name="short"
                        [timerIndex]="this.selectedIndex" (remainingTime)="handleRemainingTime($event)"
                        [duration]="this.short" /></mat-tab>
        <mat-tab label="Long Break"> <app-pet-image petType="long" /><app-timerdisplay name="long"
                        [timerIndex]="this.selectedIndex" (remainingTime)="handleRemainingTime($event)"
                        [duration]="this.long" /></mat-tab>
</mat-tab-group>