<h1 mat-dialog-title>Settings</h1>
<mat-dialog-content>
    <h3>Timers</h3>
    <mat-form-field class="pomodoro">
        <mat-label>Pomodoro</mat-label>
        <input matInput name="pomodoro" type="number" min="1" max="1439" [(ngModel)]="this.pomodoro_timer"
            (change)="pomodoroTimerChange($event)">
    </mat-form-field>
    <mat-form-field class="short">
        <mat-label>Short Break</mat-label>
        <input matInput name="short" type="number" min="1" max="1439" [(ngModel)]="this.short_timer"
            (change)="shortTimerChange($event)">
    </mat-form-field>
    <mat-form-field class="long">
        <mat-label>Long Break</mat-label>
        <input matInput name="long" type="number" min="1" max="1439" [(ngModel)]="this.long_timer"
            (change)="longTimerChange($event)">
    </mat-form-field>
    <mat-form-field class="interval">
        <mat-label>Long Break Interval</mat-label>
        <input matInput name="interval" type="number" min="1" max="100" [(ngModel)]="this.long_interval"
            (change)="longIntervalChange($event)">
    </mat-form-field>
    <mat-divider></mat-divider>
    <h3>Pet</h3>
    <mat-radio-group aria-label="Select a pet" [(ngModel)]="selected_pet" (change)="radioChange($event)">
        @for (pet of available_pets; track pet) {
        <mat-radio-button [value]="pet">{{pet}}</mat-radio-button>
        }
    </mat-radio-group>
    <mat-divider></mat-divider>
    <h3>Alarm</h3>
    <mat-radio-group aria-label="Select an alarm sound" [(ngModel)]="selected_sound">
        @for (sound of available_sounds; track sound) {
        <mat-radio-button [value]="sound">{{sound}}</mat-radio-button>
        }
    </mat-radio-group>
    <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>